body {
  font-family: 'Gloria Hallelujah', arial;
  /*margin: 0 auto;*/
  /*width: 50%;*/
  background: deepskyblue;
}

.container {
  border: 3px double lightblue;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  background-color: #FFF;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  color: ghostwhite;
  font-style: italic;
  margin-bottom: 10px;
  font-family: 'Gloria Hallelujah', cursive;
}

h2 {
  text-align: center;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #eee;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation .logout {
  float: right;
}

.navigation li a , .logout {
  width: 100px;
/*  height: 20px;*/
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 19px 16px;
  width: 30px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

form input[type=text], form input[type=password] {
/*  width: 360px;
  display: block;*/
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

.error {
  background-color: #fee;
  color: #a33;
  padding: 10px;
  margin: 0 10px;
}


.creator form {
  float: left;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

li.logout-container {
  float: right;
}

.logout-btn {
  width: 100px;
  height: 40px;
}

.error-box {
  color: red;
  font-size: 12px;
}

.error-wrapper {
  height: 20px;
}